:root
{
	--glass-background: rgb(255, 255, 255, 0.25);
	--glass-border: rgb(255, 255, 255, 0.25);
	--glass-blur: 10.5px;
	--glass-radius: 10px;
}

.glass, [glass]
{
	background-color: var(--glass-background);  
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	border-radius: var(--glass-radius);
	border-width: 1px;
	border-style: solid;
	border-color: var(--glass-border);
}

[glass-background]
{
	background-color: attr(glass-background);
}

[glass-border]
{
	border-color: attr(glass-background);
}
